.customTableHead {
  color: rgb(81, 79, 77);
  font-weight: 700;
}

.customButtonWrap {
  line-height: 1.6;
}

.tooltip {
  border-bottom: 1px dotted #000000;
  color: #000000;
  outline: none;
  cursor: help;
  text-decoration: none;
  position: relative;
  background-color: #FFF;
}

.tooltip span {
  margin-left: -999em;
  position: absolute;
}

.tooltip:hover span {
  border-radius: 5px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: -10em;
  top: 2em;
  margin-left: 0;
  width: 250px;
}

.tooltip:hover img {
  border: 0;
  margin: -10px 0 0 -55px;
  float: left;
  position: absolute;
}

.tooltip tr {
  background-color: #FFF;
}

.tooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}

.classic table {
  overflow: visible;
}

.classic {
  padding: 0.8em 1em;
  background-color: #FFF;
  z-index: 500;
}

.custom {
  padding: 0.5em 0.8em 0.8em 2em;
}

* html a:hover {
  background: #FFF;
  text-decoration: none;
}

.classic {
  border: 1px solid #FFAD33;
}

.classic table td, .classic table th .tooltip {
  border-bottom: none;
  white-space: normal;
}

a:hover .classic {
  background-color: #FFF;
  text-decoration: none;
}

button.slds-button.slds-section__title-action, .slds-table thead th {
  color: white;
  background-color: #005583;
}

/* .slds-table thead th {
  background-color: #195594;
  color: white;
} */

.truncateLocationHeader {
  width: 825px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sidebar {
  width: 14%;
  height: 28vh;
  min-height: 200px;
  /* overflow: auto; */
  position: -webkit-sticky;
  position: sticky;
  top: 7.1%;
}

/* .main, .sidebar {
  border: 5px solid #222;
  background-color: white;
  border-radius: 10px;
  color: #222;
  padding: 15px;
 }  */

.main {
  width: 86%;
  /* height: 200vh; */
  /* min-height: 1000px; */
  display: flex;
  flex-direction: column;
}